.Productlist {

    ul{
        align-items: center;
        justify-content: center;
        display:flex;
        flex-direction: row;
        gap:10px;

        
        li{
            display: flex;
            align-items: center;
            justify-content: center;   

            padding: 10px;
            background-color: aliceblue;
            list-style: none;
            width: 300px;
            height: 300px;

       
        }
    }
}